.nav_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15%;
}
h1 {
  text-align: center;
  font-size: 32px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.result_div {
  width: 100%;
  padding: 0;
  margin: 1rem 0 1rem 0;
}

img {
  margin-left: 0.5rem;
  width: 100px;
}

.temp_result {
  display: flex;
  font-size: 36px;
  margin: 2rem 0 0 1rem;
}
.right {
  margin-left: 5rem;
}

.left div {
  margin-bottom: 0.5rem;
}

.right div {
  margin-bottom: 0.5rem;
}

#tempF {
  margin-left: 1rem;
}

#city_name,
#weather_condition {
  font-size: 40px;
}


#forcastInput {
  padding-left: 0.5%;
  text-align: center;
  opacity: 0.7;
  margin-left: 0;
  width: 95%;
}
.date-time{
  display: none;
}
.sub {
  font-size: 18px;
  padding-left: 40px;
} 
.left{
  padding-top: 30px;
  line-height: 2rem;
}

.forcastDiv>.forcastCard>.day {
  font-size: 28px;
  background-color: white;
  border-radius: 10px; 
   width: 110px;
   margin-left: 1%;
   font-weight: 600;
}
.forcastDiv>.forcastCard{
  height: 240px;
  width: 180px;
  padding: 40px;
  margin: 10px;
  text-align: center;
  animation: fadeInLeft;
  animation-duration: 3s;
}
.img{
  height: 80px;
  width: auto;
}
.description{
  font-size: 26px;
}
.min{
  font-size: 18px;
}
.max{
  font-size: 18px;
}
/* .temp_result{
  font-size:50%;
} */