h1 {
  font-size: 36px;
}

img {
  margin-left: 0.5rem;
  width: 60%;
}

.date-time {
  display: none;
}

.temp_result {
  font-size: 36px;
  margin: 2rem 0 0 1rem;
  padding-left: 10px;
}

.sub {
  font-size: 12px;
  padding-left: 20px;
}

#forcastInput {
  padding-left: 0.5%;
  text-align: center;
  opacity: 0.7;
  margin-left: 0;
  width: 95%;
}

.forcastDiv>.forcastCard {

  height: 180px;
  padding: 20px;
  margin: 5px;
  text-align: center;
  animation: fadeInLeft;
  animation-duration: 3s;
}

.forcastDiv>.forcastCard>.day {
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  width: 60px;
  font-weight: 600;
  padding-right: 100;
}

.img {

  height: 70px;
  width: 70px;

}

.description {
  font-size: 18px;
}

.min {
  font-size: 15px;
}

.max {
  font-size: 15px;
}

.left {
  padding-top: 30px;
  line-height: 1.6rem;
}