body {
    background: url(img/weather-and-sky-4k-nb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    /* padding: 0px; */
}

.forcastDiv {
    border: 1px solid white;
    display: flex;
}





.forcastDiv>.forcastCard {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    height: 180px;
    width: 150px;
    padding: 20px;
    margin: 10px;
    text-align: center;

}

.forcastDiv>.forcastCard>.day {
    font-size: 24px;
    background-color: white;
    border-radius: 10px;
    /* width: 100px; */

}