body {
    background: url(img/weather-and-sky-4k-nb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
  .nav_div {
    display: flex;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: white;
    padding: 1em 0;
    font-size: 100%;
    overflow: hidden;
    height: 9%;
    padding-left: 5%;
  }
  .date-time{
    flex-direction: column;
    line-height: 1.5rem;
    margin-left: 20%;
    font-size: 20px;
  }
  
  h1 {
    margin: 10px 0px 0px 10px;
    opacity: 0.7;
  }
  
  form {
    height: 100%;
    width: 48%;
  }
  
  .weather_app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: #fff;
  }

.forcastDiv {
    /* border: 1px solid white; */
    display: flex;
    
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}



.forcastDiv::-webkit-scrollbar {
display: none;
/* Chrome */
}

.forcastDiv>.forcastCard {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    height: 170px;
    width: 150px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    animation: fadeInLeft;
    animation-duration: 3s;
}

.forcastDiv>.forcastCard>.day {
    font-size: 24px;
    background-color: white;
    border-radius: 10px; 
     width: 100px;
     margin-left: 22%;
     font-weight: 600;

}

.card {
    height: 70%;
    width: 100%;
    display: flex;
    color: white;
    flex-direction: column;
    
    
  }
  
  .result_div {
    display: none;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  .temp_result {
    font-size: 200%;
    margin: 0.5rem 0 0 5rem;
    
  }
  
   .sub {
    display: none;
    font-size: 20px;
    margin: 1rem 0 1rem 0;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding-left: 5%;
  }
  
  .right {
    padding-left: 2rem;
  }
  
  .left div {
    margin-bottom: 1rem;
  }
  
  .right div {
    margin-top: 15px;
    margin-bottom: 0.6rem;
  }
  
  
   #forcastInput {
   
  margin-left: 40px;
  padding-left: 25px;
  margin-top: 1rem;
  background-color: transparent;
  height: 70%;
  width: 100%;
  border-radius: 30px;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  opacity: 0.7;
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  outline: none;
  text-transform: capitalize;
  }
  
  .card>::placeholder {
    color: black;
    opacity: 0.7;
  }
  
  #city_name
  {
    font-size: 50px;
    
  }
  .img{
    height: 80px;
    width: auto;
  }
  .description{
    margin-bottom: 10px;
    font-weight: 600;
  }